<div class="main-content">
  <div class="container-fluid">


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="exampleModalLabel">{{ModalTitle}}</h4>
              <button type="button" class="close" 
              data-dismiss="modal" aria-label="Close"
              (click)="closeClick()" >
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <app-ans-edit [data]="data" *ngIf="ActivateAddEditAnsComp">
                </app-ans-edit>
            </div>
          </div>
        </div>
      </div>
      <h3>Category Management</h3>
    <br>
    <br>
    <h4>Question Description</h4>


    <br>
    <h5>{{questionData}}</h5>
    <br>
    <h4>Assigned Categories</h4>
            <div class='center'*ngIf=empty><p>No assigned Answer found for selected Question</p></div>
      <div class=row>      
          <mat-card class="card"   *ngFor="let data of quesAns">
            <mat-card-content (click)=Nav()>
                  <mat-card-title></mat-card-title>
                  <mat-card-subtitle (click)='passAnswer(data.Answer)'>{{data.Answer}}</mat-card-subtitle>
                  
            </mat-card-content>
            <mat-card-footer>
                <button type="button" class="btn btn-light mr-1"data-toggle="modal" data-target="#exampleModal"(click)="editClick(data)"data-backdrop="static" data-keyboard="false">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                        </svg>
                        </button>
                        <button type="button" class="btn btn-light mr-1"
                        (click)="deleteClick(data)"
                        >
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                          </svg>
                        </button>
              </mat-card-footer>
        </mat-card>
      </div>
    <br>
        <h4>Add Answer</h4><br>
          
          <div class='input'>
            <input  matInput type="text" class="form-control" [(ngModel)]="answer"
              placeholder="Enter answer" required>
              <button type="button" class="btn btn-primary float-right m-2" (click)= cardAdddata()
                >
                    Submit
              </button>

          </div>
    <br>
    <div class=row>
        <mat-card class="card" *ngFor="let data of cardData">
            <mat-card-content>
                  <mat-card-title></mat-card-title>
                  <mat-card-subtitle >{{data}}</mat-card-subtitle>
                  <mat-card-actions>   
                        <button type="button" class="btn btn-light mr-1"
                        (click)=delete(data)
                        >
                          <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z"/>
                          </svg>
                        </button></mat-card-actions>
                        
            </mat-card-content>
        </mat-card>
      </div>  

    <button type="button" class="btn btn-primary float-right m-2" 
                (click)='saveCondition()' *ngIf=saveCon>Save</button>
                <br>
                

  </div>
</div>