<p>reset-password works!</p>
<mat-card-content>

    <mat-form-field class="input-field" >
    
      
    <input matInput placeholder="old_Password" type='password' id='old_password' name='old_password' [(ngModel)]='old_password' required>
  </mat-form-field>
  <mat-card-content>
  
    <mat-form-field class="input-field" >
    
      <input matInput placeholder="new_password" id='new_password
      ' name='new_password'[(ngModel)]="new_password" required>
     
  </mat-form-field>
   <button type="submit" mat-stroked-button color="accent"  (click)='login()' class="btn-block">Login</button>
