<h1>{{text}}</h1>
<h2>My first component in angular</h2>
  <p>Components are the most basic UI building block of an Angular app. An Angular app contains a tree of Angular components. Angular components are a subset of directives, always associated with a template. Unlike other directives, only one component can be instantiated for a given element in a template.</p>
  <p>Refer below link</p>
  <a href='https://angular.io/api/core/Component'>This is link</a>
  <form>
  <br>
  <br>
   Name:
   <input type='text' name='name'>
   <br>
   <br>
   Password:
   <input type="password" name="password">
   <br>
   <input type='submit' value='submit'>
   </form>
   <p>Please enter your comment</p>
   <form>
   <textarea rows='5' cols='60' name='description'>
   Enter here....
   </textarea><br>
   <br>
   <br>
   <input type='submit' name='psw'>
   </form>
   <p>Radio Buttons</p>
   <form>
  <p>Employee Type</p>

   <input type="radio" name="tpe" value='Regular' >Regular<br>
   <input type="radio" name="type" value='Temporary'>Temporary<br>
   <input type="radio" name="type" value='Regular'>other<br>
   <br>
   <input type='submit'>
  </form>
     <p>Check box</p>
      <form>
      <br>
         <input type = "checkbox" name = "maths" value = "on"> Maths
         <input type = "checkbox" name = "physics" value = "on"> Physics
      <br>
      </form>
      <p>Drop menu</p>
      <form>
      <br>
         <select name = "dropdown">
            <option value = "1">1</option>
            <option value = "2">2</option>
            <option value = "3">3</option>
         </select>
      <br>
      </form>
    <p> Choose file</p>
      <form>
      <br>
         <input type = "file" name = "fileupload" accept = "image/*" />
      </form>
      <p> Button control  </p>
      <form>
      <br>
         <input type = "submit" name = "submit" value = "Submit" />
         <input type = "reset" name = "reset"  value = "Reset" />
         <input type = "button" name = "ok" value = "OK" />
               <br>
      </form>
      <body style='background-colour: powerblue;'>
      <form>

      <br>
         <p>This is page 10</p>
         <input type = "hidden" name = "pagename" value = "10" />
         <input type = "submit" name = "submit" value = "Submit" />
         <input type = "reset" name = "reset"  value = "Reset" />
      </form>
      </body>
        <form>
      <br>
      <input type="range" id='item' value='50'>100
    
      </form>